
#
# configure open-sdk-for-device
#

#
# configure tuya cloud service
#
CONFIG_TUYA_SECURITY_LEVEL=1
CONFIG_ENABLE_BT_SERVICE=y
CONFIG_ENABLE_BT_NETCFG=y
CONFIG_ENABLE_BT_CTRL=y
CONFIG_BT_ADV_INTERVAL_MIN=30
CONFIG_BT_ADV_INTERVAL_MAX=60
CONFIG_BT_REMOTE_CTRL_SCAN_INTERVAL=30
CONFIG_BT_REMOTE_CTRL_SCAN_WINDOWS=10
CONFIG_ENABLE_NIMBLE=y
CONFIG_TUYA_HS_BLE_HOST_TASK_PRIORITY=9
CONFIG_TUYA_HS_BLE_HOST_STACK_SIZE=5120
# end of configure tuya cloud service

#
# configure enable/disable liblwip
#
# CONFIG_ENABLE_LIBLWIP is not set
# end of configure enable/disable liblwip

#
# configure mbedtls
#
# CONFIG_ENABLE_MBEDTLS is not set
# end of configure mbedtls

CONFIG_ENABLE_CJSON=y

#
# configure enable/disable kv
#
CONFIG_ENABLE_LITTLEFS=y
# end of configure enable/disable kv

#
# configure system parameter
#
CONFIG_STACK_SIZE_TIMERQ=4096
CONFIG_STACK_SIZE_WORK_QUEUE=5120
CONFIG_MAX_NODE_NUM_WORK_QUEUE=100
CONFIG_STACK_SIZE_MSG_QUEUE=4096
CONFIG_MAX_NODE_NUM_MSG_QUEUE=100
# end of configure system parameter
# end of configure open-sdk-for-device

#
# configure esp32
#
CONFIG_OPERATING_SYSTEM=98
CONFIG_ENABLE_WIFI=y
CONFIG_ENABLE_WATCHDOG=y
CONFIG_ENABLE_BLUETOOTH=y
CONFIG_LITTLE_END=1
# end of configure esp32
